<form method="post" action="{{ path('category_delete', {'id': category.id}) }}" onsubmit="return confirm('Jesteś pewny usunięcia {{category.name}}?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
    <button class="btn btn-danger">
        Usuń <i class="fa-solid fa-x"></i>
    </button>
</form>
