<div class="text-center border">
                <div class="bg-danger text-white border">
                    PROGRAM KOREKCYJNY
                    <span class="float-end me-3">
                        <i id="rolling_add" class="fa-solid fa-plus"></i>
                    </span>
                </div>
                {# PIERWSZA SEKCJA #}
                <div>
                    <div class="bg-warning border fw-bold">
                        <select name="" id="">
                            <option value="ROLOWANIE">ROLOWANIE</option>
                        </select>
                        <span class="float-end me-3">
                            <i id="rolling_add" class="fa-solid fa-plus"></i>
                        </span>
                    </div>
                    <div class="row g-0">
                        <div class="col-8 px-0">
                            {# TO BĘDZIE W LOOPIE #}
                            <div class="w-100">
                                <select name="category[ROLOWANIE][]" id="" class="w-100 text-center">
                                    <option value="rolowanie cw 1">rolowanie cw 1</option>
                                    <option value="rolowanie cw 2">rolowanie cw 2</option>
                                </select>
                            </div>

                            <div class="w-100 ">
                                <select name="category[ROLOWANIE][]" id="" class=" text-center">
                                    <option value="rolowanie cw 1">rolowanie cw 1</option>
                                    <option value="rolowanie cw 2">rolowanie cw 2</option>
                                </select>
                            </div>
                            {# KONIEC LOOPA #}
                        </div>
                        <div class="col-4 px-0">
                            Do uczucia rozluźnienia
                        </div>
                    </div>
                </div>

                {# DRUGA SEKCJA #}

                <div>
                    <div class="bg-warning border fw-bold">
                        <select name="" id="">
                            <option value="MOBILIZACJA">MOBLIIZACJA</option>
                        </select>
                    </div>
                    <div class="row g-0">
                        <div class="col-8 px-0">
                            {# TO BĘDZIE W LOOPIE #}
                            <div class="w-100 border">
                                <select name="category[MOBILIZACJA][]" id="" class="w-100 text-center">
                                    <option value="mobilizacja cw 1">mobilizacja cw 1</option>
                                    <option value="mobilizacja cw 2">mobilizacja cw 2</option>

                                </select>
                            </div>

                            <div class="w-100 border">
                                <select name="category[MOBILIZACJA][]" id="" class=" text-center">
                                    <option value="mobilizacja cw 1">mobilizacja cw 1</option>
                                    <option value="mobilizacja cw 2">mobilizacja cw 2</option>
                                </select>
                            </div>
                            {# KONIEC LOOPA #}
                        </div>
                        <div class="col-4 px-0">
                            <div class="border w-100">a</div>
                            <div class="border w-100">b</div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="bg-warning border fw-bold">
                        AKTYWIZACJA
                    </div>
                    <div class="row g-0">
                        <div class="col-8 px-0">
                            {# TO BĘDZIE W LOOPIE #}
                            <div class="w-100 border">
                                <select name="" id="" class="w-100 text-center">
                                    <option value="">1</option>
                                </select>
                            </div>

                            <div class="w-100 border">
                                <select name="" id="" class=" text-center">
                                    <option value="">2</option>
                                </select>
                            </div>
                            {# KONIEC LOOPA #}
                        </div>
                        <div class="col-4 px-0">
                            <div class="border w-100">a</div>
                            <div class="border w-100">b</div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="bg-warning border fw-bold">
                        WZORZEC GLOBALNY
                    </div>
                    <div class="row g-0">
                        <div class="col-8 px-0">
                            {# TO BĘDZIE W LOOPIE #}
                            <div class="w-100 border">
                                <select name="" id="" class="w-100 text-center">
                                    <option value="">1</option>
                                </select>
                            </div>

                            <div class="w-100 border">
                                <select name="" id="" class=" text-center">
                                    <option value="">2</option>
                                </select>
                            </div>
                            {# KONIEC LOOPA #}
                        </div>
                        <div class="col-4 px-0">
                            <div class="border w-100">a</div>
                            <div class="border w-100">b</div>
                        </div>
                    </div>
                </div>

            </div>