<div class="text-center border">
    <div class="bg-dark text-white border">
        TRENING GRUPOWY
        <span class="float-end me-3">
            <i id="rolling_add" class="fa-solid fa-plus"></i>
        </span>
    </div>

    {# PIERWSZA SEKCJA #}
    <div class="bg-danger border">
        <select name="" class="bg-danger text-white " id="">
            <option value="ROZGRZEWKA">ROZGRZEWKA</option>
        </select>
        <span class="float-end me-3 text-white">
            <i id="rolling_add" class="fa-solid fa-plus"></i>
        </span>
    </div>
        {# PIERWSZA SEKCJA KOLUMNY #}
    <div class="row g-0 bg-warning">
        <div class="col-1 p-0">
            <input type="text" value="Data" class="bg-warning w-100">
        </div>
        <div class="col-2 p-0">
            <input type="text" value="Forma" class="bg-warning w-100">
        </div>
        <div class="col-9 p-0">
            <input type="text" value="Uwagi" class="bg-warning w-100">
        </div>
    </div>
        {# PIERWSZA SEKCJA Wartości #}

    <div class="row g-0">
        <div class="col-1 p-0">
            <input type="text">
        </div>
        <div class="col-2 p-0">
            <input type="text">
        </div>
        <div class="col-9 p-0">
            <input type="text">
        </div>
    </div>
    <div class="row g-0">
        <div class="col-1 p-0">
            <input type="text">
        </div>
        <div class="col-2 p-0">
            <input type="text">
        </div>
        <div class="col-9 p-0">
            <input type="text">
        </div>
    </div>


    {# DRUGA SEKCJA #}
    <div class="bg-danger border">
        <select name="" class="bg-danger text-white " id="">
            <option value="REAKTYWNOŚĆ">REAKTYWNOŚĆ</option>
        </select>
        <span class="float-end me-3 text-white">
            <i id="rolling_add" class="fa-solid fa-plus"></i>
        </span>
    </div>
        {# DRUGA SEKCJA KOLUMNY #}
    <div class="row g-0 bg-warning">
        <div class="col-1 p-0">
            <input type="text" value="Data" class="bg-warning w-100">
        </div>
        <div class="col-4 p-0">
            <input type="text" value="Ćwiczenie" class="bg-warning w-100">
        </div>
        <div class="col-2 p-0">
            <input type="text" value="Serie" class="bg-warning w-100">
        </div>
        <div class="col-2 p-0">
            <input type="text" value="Powtórzenia" class="bg-warning w-100">
        </div>
        <div class="col-2 p-0">
            <input type="text" value="Obciążenie" class="bg-warning w-100">
        </div>
        <div class="col-1 p-0">
            <input type="text" value="Przerwa" class="bg-warning w-100">
        </div>
    </div>
        {# DRUGA SEKCJA Wartości #}

    <div class="row g-0">
        <div class="col-1 p-0">
            <input class="w-100 border" type="text">
        </div>
        <div class="col-4 p-0">
            <input class="w-100 border" type="text">
        </div>
        <div class="col-2 p-0">
            <input class="w-100 border" type="text">
        </div>
        <div class="col-2 p-0">
            <input class="w-100 border" type="text">
        </div>
        <div class="col-2 p-0">
            <input class="w-100 border" type="text">
        </div>
        <div class="col-1 p-0">
            <input class="w-100 border" type="text">
        </div>
    </div>

    {# TRZECIA SEKCJA #}
    <div class="bg-danger border">
        <select name="" class="bg-danger text-white " id="">
            <option value="SIŁA">SIŁA</option>
        </select>
        <span class="float-end me-3 text-white">
            <i id="rolling_add" class="fa-solid fa-plus"></i>
        </span>
    </div>
    <div class="bg-warning border border-dark">
        <select name="" class="bg-warning" id="">
            <option value="Lista rozwijana">Lista rozwijana</option>
        </select>
        <span class="float-end me-3 text-white">
            <i id="rolling_add" class="fa-solid fa-plus"></i>
        </span>
    </div>
        {# TRZECIA SEKCJA KOLUMNY #}
    <div class="row g-0 bg-warning">
        <div class="col-1 p-0">
            <input type="text" value="Data" class="bg-warning w-100">
        </div>
        <div class="col-1 p-0">
            <input type="text" value="Serie" class="bg-warning w-100">
        </div>
        <div class="col-1 p-0">
            <input type="text" value="Powt." class="bg-warning w-100">
        </div>
        <div class="col-2 p-0">
            <input type="text" value="Tempo" class="bg-warning w-100">
        </div>
        <div class="col-1 p-0">
            <input type="text" value="Przerwa" class="bg-warning w-100">
        </div>
        <div class="col-1 p-0">
            <input type="text" value="Seria 1" class="bg-warning w-100">
        </div>
        <div class="col-1 p-0">
            <input type="text" value="Seria 2" class="bg-warning w-100">
        </div>
        <div class="col-1 p-0">
            <input type="text" value="Seria 3" class="bg-warning w-100">
        </div>
        <div class="col-1 p-0">
            <input type="text" value="Seria 4" class="bg-warning w-100">
        </div>
        <div class="col-1 p-0">
            <input type="text" value="Seria 5" class="bg-warning w-100">
        </div>
        <div class="col-1 p-0">
            <input type="text" value="Seria 6" class="bg-warning w-100">
        </div>
    </div>
        {# TRZECIA SEKCJA Wartości #}
    <div class="row g-0">
        <div class="col-1 p-0">
            <input class="w-100 border" type="text">
        </div>
        <div class="col-1 p-0">
            <input class="w-100 border" type="text">
        </div>
        <div class="col-1 p-0">
            <input class="w-100 border" type="text">
        </div>
        <div class="col-2 p-0">
            <input class="w-100 border" type="text">
        </div>
        <div class="col-1 p-0">
            <input class="w-100 border" type="text">
        </div>
        <div class="col-1 p-0">
            <input class="w-100 border" type="text">
        </div>
        <div class="col-1 p-0">
            <input class="w-100 border" type="text">
        </div>
        <div class="col-1 p-0">
            <input class="w-100 border" type="text">
        </div>
        <div class="col-1 p-0">
            <input class="w-100 border" type="text">
        </div>
        <div class="col-1 p-0">
            <input class="w-100 border" type="text">
        </div>
        <div class="col-1 p-0">
            <input class="w-100 border" type="text">
        </div>
    </div>
    <div class="bg-warning border">
        <select name="" class="bg-warning " id="">
            <option value="Lista rozwijana">Lista rozwijana</option>
        </select>
        <span class="float-end me-3 text-white">
            <i id="rolling_add" class="fa-solid fa-plus"></i>
        </span>
    </div>
       {# TRZECIA SEKCJA KOLUMNY #}
    <div class="row g-0 bg-warning">
        <div class="col-1 p-0">
            <input type="text" value="Data" class="bg-warning w-100">
        </div>
        <div class="col-1 p-0">
            <input type="text" value="Serie" class="bg-warning w-100">
        </div>
        <div class="col-1 p-0">
            <input type="text" value="Powt." class="bg-warning w-100">
        </div>
        <div class="col-2 p-0">
            <input type="text" value="Tempo" class="bg-warning w-100">
        </div>
        <div class="col-1 p-0">
            <input type="text" value="Przerwa" class="bg-warning w-100">
        </div>
        <div class="col-1 p-0">
            <input type="text" value="Seria 1" class="bg-warning w-100">
        </div>
        <div class="col-1 p-0">
            <input type="text" value="Seria 2" class="bg-warning w-100">
        </div>
        <div class="col-1 p-0">
            <input type="text" value="Seria 3" class="bg-warning w-100">
        </div>
        <div class="col-1 p-0">
            <input type="text" value="Seria 4" class="bg-warning w-100">
        </div>
        <div class="col-1 p-0">
            <input type="text" value="Seria 5" class="bg-warning w-100">
        </div>
        <div class="col-1 p-0">
            <input type="text" value="Seria 6" class="bg-warning w-100">
        </div>
    </div>
        {# TRZECIA SEKCJA Wartości #}
    <div class="row g-0">
        <div class="col-1 p-0">
            <input class="w-100 border" type="text">
        </div>
        <div class="col-1 p-0">
            <input class="w-100 border" type="text">
        </div>
        <div class="col-1 p-0">
            <input class="w-100 border" type="text">
        </div>
        <div class="col-2 p-0">
            <input class="w-100 border" type="text">
        </div>
        <div class="col-1 p-0">
            <input class="w-100 border" type="text">
        </div>
        <div class="col-1 p-0">
            <input class="w-100 border" type="text">
        </div>
        <div class="col-1 p-0">
            <input class="w-100 border" type="text">
        </div>
        <div class="col-1 p-0">
            <input class="w-100 border" type="text">
        </div>
        <div class="col-1 p-0">
            <input class="w-100 border" type="text">
        </div>
        <div class="col-1 p-0">
            <input class="w-100 border" type="text">
        </div>
        <div class="col-1 p-0">
            <input class="w-100 border" type="text">
        </div>
    </div>

    {# CZWARTA SEKCJA #}
    <div class="bg-danger border">
        <select name="" class="bg-danger text-white " id="">
            <option value="WYRZYMAŁOŚĆ">WYRZYMAŁOŚĆ</option>
        </select>
        <span class="float-end me-3 text-white">
            <i id="rolling_add" class="fa-solid fa-plus"></i>
        </span>
    </div>
    <div class="row g-0 bg-warning">
        <div class="col-1 p-0 border border-dark">
            <input type="text" value="Data" class="bg-warning w-100">
        </div>
        <div class="col-2 p-0 border border-dark">
            <input type="text" value="Metoda" class="bg-warning w-100">
        </div>
        <div class="col-1 p-0 border border-dark">
            <input type="text" value="Intensywność" class="bg-warning w-100">
        </div>
        <div class="col-2 p-0 border border-dark">
            <input type="text" value="Dł. Odcinka" class="bg-warning w-100">
        </div>
        <div class="col-1 p-0 border border-dark">
            <input type="text" value="Serie" class="bg-warning w-100">
        </div>
        <div class="col-1 p-0 border border-dark">
            <input type="text" value="Powt." class="bg-warning w-100">
        </div>
        <div class="col-2 p-0 border border-dark">
            <input type="text" value="Praca: wypoczynek" class="bg-warning w-100">
        </div>
        <div class="col-2 p-0 border border-dark">
            <input type="text" value="Charakter przerwy" class="bg-warning w-100">
        </div>
    </div>

    <div class="row g-0">
        <div class="col-1 p-0">
            <input class="w-100 border" type="text">
        </div>
        <div class="col-2 p-0">
            <input class="w-100 border" type="text">
        </div>
        <div class="col-1 p-0">
            <input class="w-100 border" type="text">
        </div>
        <div class="col-2 p-0">
            <input class="w-100 border" type="text">
        </div>
        <div class="col-1 p-0">
            <input class="w-100 border" type="text">
        </div>
        <div class="col-1 p-0">
            <input class="w-100 border" type="text">
        </div>
        <div class="col-2 p-0">
            <input class="w-100 border" type="text">
        </div>
        <div class="col-2 p-0">
            <input class="w-100 border" type="text">
        </div>
    </div>
    
</div>