<div class="text-center border" id="table-header">
    <div class="bg-dark text-white border-dark border">
        WSTAWKA MOTORYCZNA
        <span class="float-end me-3">
            <i id="add_category" class="fa-solid fa-plus"></i>
        </span>
    </div>
    
    {# Tutatj wbije fortime #}
</div>