<div class="row g-0 mx-0 bg-warning font-weight-bold">
    <div class="col-1 p-0 bg-warning border border-dark">Data</div>
    <div class="col-2 p-0 bg-warning border border-dark">Metoda</div>
    <div class="col-2 p-0 bg-warning border border-dark">Intensywność</div>
    <div class="col-1 p-0 bg-warning border border-dark">Dł. Odcinka</div>
    <div class="col-1 p-0 bg-warning border border-dark">Serie</div>
    <div class="col-1 p-0 bg-warning border border-dark">Powtórzenia</div>
    <div class="col-2 p-0 bg-warning border border-dark">Praca : wypoczynek</div>
    <div class="col-2 p-0 bg-warning border border-dark">Charakter przerwy</div>
</div>