<div class="row g-0 mx-0 bg-warning font-weight-bold">
    <div class="col-12 p-0 bg-warning border border-dark">{{data.title}}</div>
</div>
<div class="row g-0 mx-0 bg-warning font-weight-bold">
    <div class="col-1 p-0 border border-dark bg-warning">Data</div>
    <div class="col-1 p-0 border border-dark bg-warning">Serie</div>
    <div class="col-1 p-0 border border-dark bg-warning">Powt.</div>
    <div class="col-2 p-0 border border-dark bg-warning">Tempo</div>
    <div class="col-1 p-0 border border-dark bg-warning">Przerwa</div>
    <div class="col-1 p-0 border border-dark bg-warning">Seria 1</div>
    <div class="col-1 p-0 border border-dark bg-warning">Seria 2</div>
    <div class="col-1 p-0 border border-dark bg-warning">Seria 3</div>
    <div class="col-1 p-0 border border-dark bg-warning">Seria 4</div>
    <div class="col-1 p-0 border border-dark bg-warning">Seria 5</div>
    <div class="col-1 p-0 border border-dark bg-warning">Seria 6</div>
</div>
