<div class="row g-0 mx-0 font-weight-bold">
    <div class="col-8 p-0 border border-dark">{{data.excercise ?? "Brak"}}</div>
    <div class="col-4 p-0 border border-dark">{{data.comment ?? "Brak"}}</div>
</div>