<div class="row g-0 mx-0 font-weight-bold">
    <div class="col-1 p-0 border border-dark">{{data.date ?? "Brak"}}</div>
    <div class="col-3 p-0 border border-dark">{{data.excercise ?? "Brak"}}</div>
    <div class="col-8 p-0 border border-dark">{{data.description ?? "Brak"}}</div>
</div>