{{ form_start(form) }}
    {{ form_row(form.name,{label:"Nazwa"}) }}
    <div class="mb-3 text-end">
        <button class="btn btn-primary " type="submit">
            {{button_label|default('Stwórz')}} <i class="fa-solid fa-check"></i>
        </button>
    </div>
{{ form_end(form) }}
