{% extends 'base.html.twig' %}

{% block title %}New UserGroup{% endblock %}

{% block body %}
    <div class="px-5 py-3 container-lg bg-white rounded-lg shadow">
        <div class="d-flex flex-row justify-content-between align-items-end mb-3">
            <h1>Dodaj nową grupę</h1>
             <a href="{{ path('user_group_index') }}">
                <button class="btn btn-primary">Powrót do listy</button>
             </a>
        </div>


        {{ include('user_group/_form.html.twig') }}


    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('user_group_new') }}
{% endblock %}
