<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="d-flex flex-row min-vh-100">
            <div class="d-flex flex-column flex-shrink-0 p-3 bg-white shadow-lg" style="width:260px;">
                {% include 'sidebar/sidebar.html.twig' %}
            </div>
            <div class="p-4 o-bg-gray w-100">
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>
