{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <div class="px-5 py-3 container-lg bg-white rounded-lg shadow">
        <div class="d-flex flex-row justify-content-between align-items-end mb-3">
            <h3>Edytuj użytkownika: {{user.fullName}}</h3>
             <a href="{{ path('user_index') }}">
                <button class="btn btn-primary">Powrót do listy</button>
             </a>
        </div>
        {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
{% endblock %}
